<form (ngSubmit)="createHunting()" class="bg-white w-75 rounded-4 shadow p-3" >
    <h5 class="px-3 mb-3 text-center"> Add Hunting</h5>
  
    <div class="mb-3 px-3">
      <label for="numberOfFish" class="form-label">Number of Fish</label>
      <input type="number" class="form-control border-3"
             id="numberOfFish" name="numberOfFish"  [(ngModel)]="newHunting.numberOfFish" required>
    </div>
    <div class="mb-3 px-3">
      <label for="averageWeight" class="form-label">Average Weight</label>
      <input type="number" class="form-control border-3"
             id="averageWeight" name="averageWeight" [(ngModel)]="newHunting.averageWeight" required>
    </div>
  
    <div class="mb-3 px-3">
      <label for="competitionId" class="form-label">Competition</label>
      <select class="form-select border-3"
              id="competitionId" name="competitionId" [(ngModel)]="selectedCompetition" required>
        <option *ngFor="let competition of competitions" value="{{competition.id}}">{{ competition.location }} - {{ competition.date | date }}</option>
      </select>
    </div>
  
    <div class="mb-3 px-3">
      <label for="memberNum" class="form-label">Member</label>
      <select class="form-select border-3"
      id="memberId" name="memberId" [(ngModel)]="selectedMember" required>
        <option *ngFor="let member of members" value="{{member.id}}">{{ member.name}}</option>
      </select>
    </div>
  
    <div class="mb-3 px-3">
      <label for="fishId" class="form-label">Fish</label>
      <select class="form-select border-3"
              id="fishId" name="fishId" [(ngModel)]="selectedFish" required>
        <option *ngFor="let fish of fishes" value="{{fish.id}}">{{ fish.name }} - {{ fish.averageWeight }} g</option>
      </select>
    </div>
  
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn shadow mb-5 rounded" style="background-color: #0c151e; color: #00A584;">Create Hunting</button>
    </div>
  </form>
  