
<section class="container mx-auto p-6">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Competition Results</h1>
  <div class="mb-4">
      <label for="competitionSelect" class="form-label">Select Competition</label>
      <select id="competitionSelect" (change)="submitHunting()" [(ngModel)]="selectedCompetitionId" name="selectedCompetitionId" class="form-select">
          <option *ngFor="let comp of competitions" [value]="comp.id">{{ comp.code }}</option>
      </select>
  </div>
  <div *ngIf="rankings && rankings.length > 0; else noResults">
      <table class="table table-bordered border-gray-400">
          <thead>
              <tr class="bg-gray-200">
                  <th class="border px-4 py-2 text-gray-600">Rank</th>
                  <th class="border px-4 py-2 text-gray-600">Competition ID</th>
                  <th class="border px-4 py-2 text-gray-600">member ID</th>
                  <th class="border px-4 py-2 text-gray-600">Score</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ranking of rankings">
                  <td class="border px-4 py-2">{{ ranking.rank }}</td>
                  <td  class="border px-4 py-2">
                     {{ranking.id.competitionId}} 
                  </td>
                  <td  class="border px-4 py-2">
                    {{ranking.id.memberId}}
                 </td>
                  <td class="border px-4 py-2">{{ ranking.score }}</td>
              </tr>
          </tbody>
      </table>
  </div>

  <ng-template #noResults>
      <p>No results available.</p>
  </ng-template>
</section>
