
      <div class="w-100 fw-semibold" style="background-color: #F1FFFC;">
          <div class="d-flex flex-column align-items-center align-items-sm-start  text-white min-vh-100" style="color: #17023d;">
              <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto text-white text-decoration-none">
                 
              </a><img src="../../../assets/logo/logo.png" alt="logo" width="100%">
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start my-3" id="menu">
                  <li class="nav-item">
                      <a routerLink="/competitions"  class="nav-link align-middle px-0">
                        <img class="mx-3" width="30" height="30" src="./../.././../assets/icons/icons8-trophy-64.png" 
                        alt="external-competition-business-and-teamwork-smashingstocks-mixed-smashing-stocks"/><span class="ms-1 d-none d-sm-inline " style="color: #17023d;">Competition</span>
                      </a>
                  </li>

                  <li>
                    <a routerLink="/members"  class="nav-link px-0 align-middle">
                      <img class="mx-3" width="30" height="30" src="./../.././../assets/icons/icons8-member-64.png" alt="user"/>   <span class="ms-1 d-none  d-sm-inline " style="color: #17023d;">Member</span> </a>
                </li>

                <li>
                  <a href="#" class="nav-link px-0 align-middle" routerLink="/fish" >
                    <img class="mx-3" width="30" height="30" src="./../.././../assets/icons/icons8-fish-64.png" alt="fish"/>   <span class="ms-1 d-none d-sm-inline " style="color: #17023d;">Fish</span>
                  </a>
              </li>

                  <li>
                      <a routerLink="/levels"  class="nav-link px-0 align-middle"  >
                        <img class="mx-3" width="30" height="30"  src="./../.././../assets/icons/icons8-level-48.png" alt="features-list"/> <span class="ms-1 d-none d-sm-inline "style="color: #17023d;" >Level</span> </a>
                  </li>
                  <li>
                    <a routerLink="/hunting"   class="nav-link px-0 align-middle">
                        <img  class="mx-3" width="30" height="30" width="30" height="30" src="./../.././../assets/icons/icons8-fishing-pole-50.png" alt="fishing-pole"/>  <span class="ms-1 d-none d-sm-inline " style="color: #17023d;">Hunting</span> </a>
                </li>
               
              <!-- <li>
                <a href="#" routerLink="/rankings"  class="nav-link px-0 align-middle">
                    <img class="mx-3" width="30" height="30" src="./../.././../assets/icons/icons8-podium-50.png" alt="leaderboard"/> <span class="ms-1 d-none d-sm-inline " style="color: #17023d;">Ranking</span> </a>
            </li> -->
           
              </ul>


          </div>
      </div>